/* Graph component */
.graph {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.graphWrapper, .graphWrapper .scene-container canvas{
  /*mix-blend-mode: luminosity;*/
  width: 100vw;
  height: 100vh;
}

.force-graph-container {
  width: 100vw;
  height: 100vh;
}

/* interactionBar */
.interactionBar {
  position: absolute;
  bottom: 1.4rem;
  left: 0.14rem;
}

.zoomButtons {
  display: grid;
}

.zoomButtons button {
  background-color: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.14rem;
}