/* Graph component */
.graph {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.graphWrapper, .graphWrapper .scene-container canvas{
  /*mix-blend-mode: luminosity;*/
  width: 100vw;
  height: 100vh;
}

.force-graph-container {
  width: 100vw;
  height: 100vh;
}

/* interactionBar */
.interactionBar {
  position: absolute;
  left: 0.14rem;
  z-index: 1002;
  top: var(--menuPosition);
}

.zoomButtons {
  position: absolute;
  z-index: 1002;
}

.zoomButtons button {
  background-color: var(--tertiary);
  border: none;
  color: var(--primary);
  cursor: pointer;
  padding: 0.42rem;
  opacity: var(--opacity);
}

.actionButtons {
  display: grid;
  z-index: 1001;
}

.actionButtons button {
  background-color: var(--tertiary);
  border: none;
  color: var(--primary);
  cursor: pointer;
  padding: 0.42rem;
  opacity: var(--opacity);
}

/* Chart stats */
.gridContainer {
  /*display: grid;*/
  grid-template-columns: 1fr 2fr;
  grid-gap: 7px;
  gap: 7px;
}

.gridContainer .label {
  font-weight: var(--fontWeight);
  color: var(--secondary);
  text-align: end;
  font-size: 0.7em;
  margin-bottom: 0.42rem;
  background: var(--tedectiveBlue);
  color: var(--tertiary);
  padding: 0.42em;
}

.gridContainer .value {
    font-size: 0.7em;
    margin-bottom: 0.42em;
    font-weight: var(--fontWeight);
    color: var(--primary);
    text-align: end;
}

/* OrganizationDetails */
.organizationDetails {
  color: var(--secondary);
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: var(--windowWidth);
  z-index: 1000;
  opacity: var(--opacity);
  height: var(--windowHeight);
  overflow-y: auto;
  background: var(--tertiary);
  top: 2.8rem;
  padding: 0.42rem;
  margin:4.2px;
}