/* Graph component */
.graphWrapper, .graphWrapper .scene-container canvas{
  /*mix-blend-mode: luminosity;*/
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* interactionBar */
.interactionBar {
  position: absolute;
  z-index: 1003;
  left: 0.21rem;
  top: var(--menuPositionY);
  left: var(--menuPositionX);
}

.zoomButtons {
  position: absolute;
  z-index: 1002;
  top: var(--menuHeight);
}

.zoomButtons button {
  background-color: var(--tertiary);
  border: none;
  color: var(--primary);
  cursor: pointer;
  padding: 0.42rem;
  opacity: var(--opacity);
}

.actionButtons {
  display: grid;
  z-index: 1001;
}

.actionButtons button {
  background-color: var(--tertiary);
  border: none;
  color: var(--primary);
  cursor: pointer;
  padding: 0.42rem;
  opacity: var(--opacity);
}