/* Chart stats */
.gridContainer {
    /*display: grid;*/
    grid-template-columns: 1fr 2fr;
    grid-gap: 7px;
    gap: 7px;
  }
  
  .gridContainer .label {
    font-weight: var(--fontWeight);
    color: var(--secondary);
    text-align: end;
    font-size: 0.7em;
    margin-bottom: 0.42rem;
    background: var(--secondary);
    color: var(--tertiary);
    padding: 0.42em;
  }
  
  .gridContainer .value {
      font-size: 0.7em;
      margin-bottom: 0.42em;
      font-weight: var(--fontWeight);
      color: var(--primary);
      text-align: end;
  }
  
  /* OrganizationDetails */
  .organizationDetails {
    color: var(--secondary);
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: var(--windowWidth);
    z-index: 1000;
    opacity: var(--opacity);
    height: var(--windowHeight);
    overflow-y: auto;
    background: var(--tertiary);
    top: var(--headerHeight);
    padding: 0.42rem;
    margin:4.2px;
  }