
.nodePanel {
	position: absolute;
	top: 2.8rem;
	left: 2.8rem;
	z-index: 1002;
}

.nodePanelMenuButton{
	cursor: pointer;
    color: white;
    /* margin: 1vw; */
    border: none;
    font-size: 4.2vh;
    display: flex;
    background: none;
	position: fixed;
	z-index: 1000;
	top: 0;
}

.nodePanelMenuButton:focus{
	outline: none;
}

.nodePanelMenuButton:focus-visible{
	outline: none;
}

.nodePanelMenuButton svg{
	margin-top: 0.42rem;
	margin-left: 0.42rem;
	color: var(--secondary);
}

.nodePanelMenuButton svg:hover{
	color: var(--secondary);
}

.nodePanelContent{
	min-width: 300px;
    overflow-x: hidden;
    padding: 0.42rem;
    font-size: 1em;
    font-weight: var(--fontWeight);
    word-wrap: break-word;
    max-height: 280px;
	max-height: var(--windowHeight);
}

.nodePanelContent{
	color: var(--primary);
	opacity: var(--opacity);
	display: grid;
	grid-template-columns: 100%;
	row-gap: 4.2px;
}

.nodePanelContent hr {
	color: white;
	margin-bottom: 0.77rem;
	border: var(--tedectiveBlue) 1px solid;
}

.nodePanelContent li{
	list-style-type: none;
	margin-bottom: 0.14rem;
	font-size: xx-small;
}

.nodePanelContent h1{
	font-size: 0.91em;
	margin-bottom: 0.42rem;
}

.nodePanelContent h2{
	font-size: 0.84em;
	margin-bottom: 0.42rem;
}

[data-theme='dark'] .nodePanelContent h2 {
    font-size: 0.84em;
    margin-bottom: 0.42rem;
    background: var(--tedectiveBlue);
    color: var(--primary);
    padding: 0.42em;
}

[data-theme='light'] .nodePanelContent h2 {
    font-size: 0.84em;
    margin-bottom: 0.42rem;
    background: var(--tedectiveBlue);
    color: var(--tertiary);
    padding: 0.42em;
}

.nodePanelContent h3{
	font-size: 0.77em;
	margin-bottom: 0.42rem;
}

.nodePanelContent h4{
	font-size: 0.70em;
	margin-bottom: 0.42rem;
}

/* Panel view */
.panelView {
	width: 28vw;
	min-width: 300px;
	/*height: var(--windowHeight);*/
	overflow-y: auto;
	overflow-x: hidden;
    transition: height 250ms ease 0s;
    color: var(--leva-colors-highlight3);
	opacity: var(--opacity);
	margin: 4.2px;
	background-color: var(--tertiary);
}

/* Buttons */
[data-theme='light'] .nodePanelContent button{
	width: 100%;
	color: var(--primary);
	background-color: var(--tertiary);
	border: 1px solid rgba(0,0,0,0.14);
	cursor: pointer;
}

[data-theme='light'] .nodePanelContent button:hover{
	width: 100%;
	color: var(--secondary);
	background-color: var(--teritary);
}

[data-theme='dark'] .nodePanelContent button{
	width: 100%;
	color: var(--primary);
	background-color: var(--tertiary);
	border: 1px solid rgba(255,255,255,0.14);
	cursor: pointer;
}

[data-theme='dark'] .nodePanelContent button:hover{
	width: 100%;
	color: var(--primary);
	background-color: var(--secondary);
}