.levaWrapper{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    width: 175px;
    opacity: var(--opacity);
    height: var(--windowHeight);
    overflow-y: scroll;
  }
  
  @media screen and (max-width: 480px) {
    .levaWrapper {
      /**/
      display: none;
    }
  }