.search{
    z-index: 1002;
    position: fixed;
    right: 175px;
    opacity: var(--opacity);
    margin: 0 auto;
    max-width: 77vw;
    color: var(--primary);
    left: 8.7rem;
    min-width: 175px;
}

@media screen and (max-width: 480px) {
    .search {
      /**/
      bottom: 0;
      width: 100vw;
      left: 0;
      right: 0;
      z-index: 1002;
      max-width: 100vw;
      background: var(--tertiary);
    }
    #SearchResults{
        margin-bottom: 7vh;
        overflow-x: hidden;
        max-height: 77vh;
        bottom:0;
    }
}

.search input[type=search]{
    width: 100%;
    outline: none;
    color: var(--primary);
    text-align: center;
    height: 2.1rem;
    font-weight: 420;
    border: 0;
    font-family: 'Inter';
    background: none;
}

.search input[type=search]:focus{
    border: 1px soild var(--primary);
    width: 100%;
    color: var(--primary);
    outline: none;
    color: var(--primary);
    border: 1px dashed var(--secondary);
}

.search input[type=search]:focus-visible{
    border: 1px soild var(--primary);
    width: 100%;
    outline: none;
    color: var(--primary);
}

.search button{
    border: 0;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 0.21rem;
    border-radius: 0;
}

#SearchResults{
	position: fixed;
	top: 2.52rem;
    min-width: 300px;
    right: 0;
	max-height: var(--windowHeight);
	background-color: var(--tertiary);
	z-index: 1000;
	display: list-item;
	overflow-y: scroll;
    padding: 0.42rem;
    z-index: 10001;
    left: 2.8rem;
}

#SearchResults li{
    list-style: none;
    padding: 0.07rem;
}

#SearchResults p{
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 42vw;
    display: flex;
}

.advancedSearch{
    position: fixed;
	bottom: 21vh;
}

@media (prefers-color-scheme: dark)
{
    #SearchResults button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
        cursor: pointer;
    }

    #SearchResults button:hover{
        border: 0;
        background-color: var(--secondary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    /* Button styles when focused */
    #SearchResults button:focus {
        outline: var(--primary) auto 1px;
    }

    .advancedSearch button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }
}

@media (prefers-color-scheme: light)
{
    #SearchResults button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
        cursor: pointer;
    }

    #SearchResults button:hover{
        border: 0;
        background-color: var(--secondary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    /* Button styles when focused */
    #SearchResults button:focus {
        outline: var(--primary) auto 1px;
    }

    .advancedSearch button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }
}