.search{
    z-index: 1001;
    position: fixed;
    display: grid;
    right: 175px;
    opacity: var(--opacity);
    margin: 0 auto;
    max-width: 77vw;
    color: var(--primary);
    left: 7.7rem;
    min-width: 175px;
}

.search input[type=search]{
    border: 0;
    width: 100%;
    outline: none;
    padding: 0.35rem;
    background-color: var(--tertiary);
    color: var(--primary);
    margin: 0.49rem;
    text-align: center;
}

.search input[type=search]:focus{
    border: 1px soild var(--primary);
    width: 100%;
    color: var(--primary);
    outline: none;
    background-color: var(--tertiary);
    color: var(--primary);
}

.search input[type=search]:focus-visible{
    border: 1px soild var(--primary);
    width: 100%;
    outline: none;
    background-color: var(--tertiary);
    color: var(--primary);
}

.search button{
    border: 0;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 0.21rem;
    border-radius: 0;
}

#SearchResults{
	position: fixed;
	top: 2.52rem;
    min-width: 300px;
    right: 0;
	max-height: var(--windowHeight);
	background-color: var(--tertiary);
	z-index: 1000;
	display: list-item;
	overflow-y: scroll;
    padding: 0.42rem;
    z-index: 10001;
    left: 2.8rem;
}

#SearchResults li{
    list-style: none;
    padding: 0.07rem;
}

#SearchResults p{
    margin: 0;
    padding: 0;
    bottom: 0;
    right: 42vw;
    display: flex;
}

.advancedSearch{
    position: fixed;
	bottom: 21vh;
}

@media (prefers-color-scheme: dark)
{
    #SearchResults button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
        cursor: pointer;
    }

    #SearchResults button:hover{
        border: 0;
        background-color: var(--secondary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    /* Button styles when focused */
    #SearchResults button:focus {
        outline: var(--primary) auto 1px;
    }

    .advancedSearch button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }
}

@media (prefers-color-scheme: light)
{
    #SearchResults button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
        cursor: pointer;
    }

    #SearchResults button:hover{
        border: 0;
        background-color: var(--secondary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    /* Button styles when focused */
    #SearchResults button:focus {
        outline: var(--primary) auto 1px;
    }

    .advancedSearch button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }
}