.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

/* Stats Bar -- make own component */
.statsBar {
  display: grid;
  position: fixed;
  bottom: 2.1rem;
  right: 0;
  color: var(--primary);
}

/* interactionBar */
.interactionBar {
  position: absolute;
  bottom: 6.65rem;
  left: 0.14rem;
  z-index: 1001;
}

.actionButtons {
  display: grid;
}

.actionButtons button {
  background-color: transparent;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.14rem;
}

/* Chart stats */
.gridContainer {
  /*display: grid;*/
  grid-template-columns: 1fr 2fr;
  grid-gap: 7px;
  gap: 7px;
}

.gridContainer .label {
  font-weight: bold;
  color: var(--secondary);
  text-align: end;
  font-size: 0.7em;
  margin-bottom: 0.42rem;
  background: var(--tedectiveBlue);
  color: var(--tertiary);
  padding: 0.42em;
}

.gridContainer .value {
    font-size: 0.7em;
    margin-bottom: 0.42em;
    font-weight: var(--fontWeight);
    color: var(--primary);
    text-align: end;
}

/* OrganizationDetails */
.organizationDetails {
  color: var(--secondary);
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: var(--windowWidth);
  z-index: 1002;
  opacity: var(--opacity);
  height: var(--windowHeight);
  overflow-y: scroll;
  background: var(--tertiary);
  top: 2.8rem;
  padding: 0.42rem;
  margin:4.2px;
}

.tedectveLogo{
	cursor: pointer;
  color: var(--secondary);
  border: none;
  display: flex;
  background: var(--tertiary);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.tedectveLogo:focus{
	outline: none;
}

.tedectveLogo:focus-visible{
	outline: none;
}

.tedectveLogo svg{
	margin-top: 0.42rem;
	margin-left: 0.42rem;
	color: var(--secondary);
}

.tedectveLogo svg:hover{
	color: var(--secondary);
}


/* ####################################### */

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
