/* Search components */
.Search{
    z-index: 1001;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100vw;
    opacity: var(--opacity);
}

.Search input[type=text]{
    border: 0;
    width: 100%;
    color: white;
    outline: none;
    padding:0.42rem;
    background-color: var(--tertiary);
    color: var(--primary);
}

.Search button{
    border: 0;
    background-color: var(--tertiary);
    color: white;
    padding: 0.21rem;
    outline: none;
}

.SearchResults{
	position: fixed;
	bottom: 2.1rem;
	width: 100vw;
	height: 8.2rem;
	background-color: var(--tertiary);
	opacity: var(--opacity);
	z-index: 1000;
	display: list-item;
	overflow-y: scroll;
}