.search{
    z-index: 1001;
    position: fixed;
    bottom: 0;
    display: flex;
    right: 0;
    opacity: var(--opacity);
    width: 42vw;
}

.search input[type=text]{
    border: 0;
    width: 100%;
    color: white;
    outline: none;
    padding:0.42rem;
    background-color: var(--tertiary);
    color: var(--primary);
}

.search button{
    border: 0;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 0.21rem;
    outline: none;
}

.searchResults{
	position: fixed;
	bottom: 1.91rem;
	width: 42vw;
    right: 0;
	max-height: 14vh;
	background-color: var(--tertiary);
	opacity: var(--opacity);
	z-index: 1000;
	display: list-item;
	overflow-y: scroll;
    padding: 0.42rem;
    z-index: 10001;
}

.searchResults li{
    list-style: none;
    padding: 0.07rem;
}

.advancedSearch{
    position: fixed;
	bottom: 21vh;
}

@media (prefers-color-scheme: dark)
{
    .searchResults button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    .searchResults button:hover{
        border: 0;
        background-color: var(--secondary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    .advancedSearch button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }
}

@media (prefers-color-scheme: light)
{
    .searchResults button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    .searchResults button:hover{
        border: 0;
        background-color: var(--secondary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }

    .advancedSearch button{
        border: 0;
        background-color: var(--tertiary);
        color: var(--primary);
        padding: 0.21rem;
        outline: none;
    }
}