/* Doughnut chart */
.doughnutChart{
	color: white;
	padding: 0.42rem;
	margin: 0.42rem 0 0 0.42rem;
	height: 7vh;
	width:  7vw;
}

/* Bar chart */
.barChart{
	color: white;
	padding: 0.42rem;
	margin: 0.42rem 0 0 0.42rem;
}

/* RadarChart */
.radarChart{
	color: white;
	padding: 0.42rem;
	margin: 0.42rem 0 0 0.42rem;
}