.cachedObjects {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin: 0 auto;
  background: var(--tertiary);
  color: var(--primary);
  overflow-y: auto;
  bottom: 2.8rem;
  overflow-x: hidden;
  padding: 0.42rem;
  min-width: 175px;
}

.cachedObjects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cachedObjects ul li {
  margin: 0.5rem 0;
}

.cachedObjects h3 {
  font-weight: var(--fontWeight);
  color: var(--tertiary);
  background: var(--tedectiveBlue);
  padding: 0.42rem;
  font-size: 0.7em;
}
